@mixin wrap {
    max-width: 1140px;
    margin: 0 auto;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin transition-button {
    transition-duration: 500ms;
    transition-property: background-color;
}
